@import "../../../variables.scss";

.LoaderFullScreen {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.76);
  text-align: center;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  align-self: center;
  z-index: 999;
  height: 100vh;
  width: 100vw;
}

.Loader {
  display: block;
  margin: 30px auto;
  position: relative;
  width: 64px;
  height: 64px;

  div {
    animation: Loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;

    &:after {
      content: " ";
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #6B777B;
      margin: -3px 0 0 -3px;
    }

    &:nth-child(1) {
      animation-delay: -0.036s;
    }

    &:nth-child(1):after {
      top: 50px;
      left: 50px;
    }

    &:nth-child(2) {
      animation-delay: -0.072s;
    }

    &:nth-child(2):after {
      top: 54px;
      left: 45px;
    }

    &:nth-child(3) {
      animation-delay: -0.108s;
    }

    &:nth-child(3):after {
      top: 57px;
      left: 39px;
    }

    &:nth-child(4) {
      animation-delay: -0.144s;
    }

    &:nth-child(4):after {
      top: 58px;
      left: 32px;
    }

    &:nth-child(5) {
      animation-delay: -0.18s;
    }

    &:nth-child(5):after {
      top: 57px;
      left: 25px;
    }

    &:nth-child(6) {
      animation-delay: -0.216s;
    }

    &:nth-child(6):after {
      top: 54px;
      left: 19px;
    }

    &:nth-child(7) {
      animation-delay: -0.252s;
    }

    &:nth-child(7):after {
      top: 50px;
      left: 14px;
    }

    &:nth-child(8) {
      animation-delay: -0.288s;
    }

    &:nth-child(8):after {
      top: 45px;
      left: 10px;
    }
  }
}

@keyframes Loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: $medium) {
  .LoaderFullScreen {
    width: 100%;
    height: 100%;
  }
}