@import "./variables.scss";

* {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Lato", sans-serif;
	background-color: white;
	font-size: 16px;
	color: $textColor;
}

b {
	color: $textColor;
}

p {
	margin: 0;
	font-size: 14px;
	padding-top: 12px;
	color: $textColor;
}

.center {
	text-align: center;
	margin: auto;
	align-items: center;
}

.left {
	text-align: left;
	align-items: flex-start;
}

.right {
	text-align: right;
	align-items: flex-end;
}

code {
	font-family:
		source-code-pro,
		Menlo,
		Monaco,
		Consolas,
		"Courier New",
		monospace;
}

// container
.container {
	max-width: 1065+40px;
	width: 100%;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.wrapper {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;

	&.white {
		background-color: white;
	}
}

.buttonOne {
	background-color: $themeColor;
	color: white;
	padding: 8px 20px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid $borderColor;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		background-color: darken($themeColor, 10%);
	}
}

.buttonTwo {
	background-color: $darkColor;
	color: $lightColor;
	padding: 5px 20px;
	border-radius: 20px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid $borderColor;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		background-color: darken($darkColor, 10%);
	}

	&:focus {
		box-shadow: 0 0 5px 1.5pt $allyColor;
		outline: none;
	}

	&.danger {
		background-color: $errorColor;

		&:hover {
			background-color: darken($errorColor, 10%);
		}
	}
}

.column {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&:not(:first-child) {
		margin-top: 20px;
	}
}

h1 {
	margin: 0;
	font-size: 25px;
}

h2 {
	margin: 0;
	font-size: 16px;
}

h3 {
	margin-top: 0;
}

input,
textarea {
	font-size: 20px;
	color: $textColor;
	padding: 8px 10px;
	border: 1px solid $borderColor;
	background-color: white;
	width: 100%;

	&.error {
		border-color: $errorColor;
	}
}

form {
	max-width: 600px;
	width: 100%;
	margin: auto;
}

.errorWrapper {
	display: flex;
	flex-direction: column;
}

.errorMessage {
	padding-top: 5px;
	color: $errorColor;
}

::-webkit-input-placeholder {
	color: $placeholderColor;
}

:-moz-placeholder {
	color: $placeholderColor;
	opacity: 1;
}

::-moz-placeholder {
	color: $placeholderColor;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $placeholderColor;
}

.product-list {
	display: flex;
	margin-top: 20px;
	flex-wrap: wrap;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

.filterWrapper {
	align-self: flex-end;

	.buttonOne {
		background-color: $lightColor;
		color: $darkColor;

		&:first-child {
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
		}

		&:last-child {
			border-left: none;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
		}

		&.active {
			background-color: $themeColor;
			color: $lightColor;
		}

		&:focus {
			box-shadow: 0 0 5px 1pt $allyColor;
			outline: none;
		}
	}
}

@media only screen and (max-width: $xlarge) {
	.wrapper {
		padding: 25px;
	}

	.container {
		padding: 0;
	}
}

@media only screen and (max-width: $large) {
	.wrapper {
		padding: 20px;
	}
}

@media only screen and (max-width: $medium) {
	.wrapper {
		padding: 10px;
	}
}

@media only screen and (max-width: $small) {
}
