// Colors
$themeColor: #A0148C;
$textColor: #5A6066;
$borderColor: #A5A5A5;
$placeholderColor: #A5A5A5;
$disabledColor: #6B777B;
$errorColor: #DC3545;
$successColor: #28A745;
$lightColor: #F4F4F4;
$darkColor: #343A40;
$allyColor: #4141DC;

// space
$space: 20px;

// Screen Sizes for Responsive laypout
$small: 400px;
$medium: 650px;
$large: 950px;
$xlarge: 1210px;
