@import "../../../variables.scss";

.product-item {
	border: 1px solid $borderColor;
	padding: 20px;
	width: 100%;
	border-bottom: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&:last-of-type {
		border-bottom: 1px solid $borderColor;
	}
}

.item-price {
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
	min-width: 110px;
}
