@import "../../../variables.scss";

header {
	.wrapper {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	background-color: $lightColor;

	@media only screen and (max-width: $medium) {
		padding: 10px;

		&.row {
			flex-direction: column;
		}

		.selectIcon {
			margin-top: 10px;
		}
	}
}

.logo {
	text-decoration: none;
	color: inherit;
}
